<template name = "questionItem">
	<div class = "questionSec">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">{{question}}</h3>
			</div>
			<div class="panel-body">
				<form class="main" id="{{_id}}">
					<div class="control-group">
						<div class="controls">
							
						</div>
					</div>

					<div class="control-group">
						<input type="radio" name="{{_id}}" class="radioBreak" value="{{getAnswer}}">{{getAnswerAgain}}<br><br><br>
						<input type="radio" name="{{_id}}" class="radioBreak" value="{{getAnswer}}">{{getAnswerAgain}}<br><br><br>
						<input type="radio" name="{{_id}}" class="radioBreak" value="{{getAnswer}}">{{getAnswerAgain}}<br><br><br>
						<input type="radio" name="{{_id}}" class="radioBreak" value="{{getAnswer}}">{{getAnswerAgain}}<br><br><br>

					</div>

					<h4><label name="end" id="end{{_id}}">Please submit your Answer</label><h4>

					<div class="control-group">
						<div class="controls">
							<input type="submit" value="Submit" class="btn btn-primary"/>
						</div>
					</div>


				</form>
			</div>
		</div>
	</div>
</template>